body {
  background: #333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
  color: white;
  font-family: 'Parisienne', cursive;
}

h2 {
  color: #66BFBF;
  font-style: oblique;
  text-decoration: underline;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h3 {
  color: white;
  font-family: Apple Chancery, cursive;
}

p {
  color: white;
  font-style: oblique;
  font-family: Apple Chancery, cursive;
}


hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

a {
  color: #2187e7;
  font-family: monospace;
  margin: 10px 20px;
  text-decoration: none;
  background-color: transparent;
}

a:hover, a:active {
  color: #66BFBF;
  font-size: 120%;
}

.linkedin:active {
  font-size: 120%;
}

.github:active {
  font-size: 120%;
}

.hackerrank:active {
  font-size: 120%;
}


.objective {
  width: 1000px;
  margin: 60px auto;
  color: white;
}

.projects {
  width: 1000px;
  margin: 60px auto;
  color: white;
}

.projects th{
  font-family: Apple Chancery, cursive;
}

.projects td{
  font-family: Apple Chancery, cursive;
}

.skills {
  width: 1000px;
  margin: 60px auto;
  color: white;
}

ul.options {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.demo {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills li{
  margin: 2px 0;
}

.bar {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: 0 0 10px #2187e7b3;
  background: #353b48;
  display: block;
  height: 2px;
  overflow: hidden;
}

.bar span{
  height: 2px;
  float: left;
  background: #2187e7;
}

.python {
  width: 90%;
  animation: html 2s;
}
.c {
  width: 60%;
  animation: c 2s;
}
.javascript {
  width: 60%;
  animation: javascript 2s;
}
.java {
  width: 50%;
  animation: java 2s;
}
.html {
  width: 70%;
  animation: html 2s;
}
.css {
  width: 65%;
  animation: css 2s;
}

@keyframes python {
  0% {
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes c {
  0% {
    width: 0%;
  }
  100%{
    width: 60%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100%{
    width: 60%;
  }
}

@keyframes java {
  0% {
    width: 0%;
  }
  100%{
    width: 50%;
  }
}

@keyframes html {
  0% {
    width: 0%;
  }
  100%{
    width: 70%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100%{
    width: 65%;
  }
}

.accomplishments {
  width: 1000px;
  margin: 60px auto;
  color: white;
}

.accomplishments table thead th{
  font-family: Apple Chancery, cursive;
}

.accomplishments table tbody td{
  font-family: Apple Chancery, cursive;
}

.cirular1 {
  border-radius: 100%;
}

.cirular2 {
  border-radius: 100%;
}

.cirular3 {
  border-radius: 100%;
}

.cirular4 {
  border-radius: 100%;
}

.cirular5 {
  border-radius: 100%;
}

.working {
  width: 1000px;
  margin: 60px auto;
  color: white;
}

.working table thead th{
  font-family: Apple Chancery, cursive;
}

.working table tbody td{
  font-family: Apple Chancery, cursive;
}

.education {
  width: 1000px;
  margin: 60px auto;
  color: white;
}

.education table thead th{
  font-family: Apple Chancery, cursive;
}

.education table tbody td{
  font-family: Apple Chancery, cursive;
}

.hobbies {
  width: 1000px;
  margin: 60px auto;
  color: white;
}

.hobbies li{
  margin: 20px 0;
  color: white;
  font-family: Apple Chancery, cursive;
}

.footer {
  padding: 50px 0 20px;
  margin-bottom: 1rem;
  padding-top: 10px;
}

.messages {
  margin: 20px 0;
  color: white;
  font-family: Apple Chancery, cursive;
}

.message label{
  font-family: Apple Chancery, cursive;
}

.submit {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   font-weight: 100;
   padding: 5px;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.submit:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   text-decoration: none;
}
